extends /layouts/_calc-generic.pug
block content
  v-card-title.pb-0(primary-title style='display: block;')
    .headline
      | Square Footage
    //- div(:class='theAppIsDark ? colorProps.text.subtitle.dark : colorProps.text.subtitle.light')
      block subtitle
  v-card-text
    v-container.pa-0(fluid)
      //- Width label
      v-layout(row justify-center)
        v-flex.text-xs-center(xs12)
          p.sirp-divider
            span Width
      //- width input
      v-layout.mb-4(row wrap justify-center)
        v-flex.text-xs-center(xs6)
          v-text-field.v-input__joined--left(
            box
            v-model='calcInput.width.ft'
            type='number'
            :color='fieldColor'
            label='Feet')
        v-flex.text-xs-center(xs6)
          v-text-field.v-input__joined--right(
            box
            v-model='calcInput.width.in'
            type='number'
            :color='fieldColor'
            label='Inches')
      //- Length label
      v-layout(row justify-center)
        v-flex.text-xs-center(xs12)
          p.sirp-divider
            span Length
      //- length input
      v-layout.mb-4(row wrap justify-center)
        v-flex(xs6)
          v-text-field.v-input__joined--left(
            box
            v-model='calcInput.length.ft'
            type='number'
            :color='fieldColor'
            label='Feet')
        v-flex(xs6)
          v-text-field.v-input__joined--right(
            box
            v-model='calcInput.length.in'
            type='number'
            :color='fieldColor'
            label='Inches')
      v-layout(row)
        v-container.pa-0(fluid)
          v-slide-y-reverse-transition
            v-list(three-line subheader v-if='result !== 0')
              v-list-tile
                v-list-tile-content
                  v-list-tile-title Description
                  v-list-tile-sub-title {{ displayDescription }}
                v-list-tile-action
                  +copyBtn(click='doCopy(displayDescription)')
              v-list-tile
                v-list-tile-content
                  v-list-tile-title Square Footage
                  v-list-tile-sub-title {{ resultDisplay }}
                v-list-tile-action
                  +copyBtn(click='doCopy(resultWithLabel)')
              v-list-tile
                v-list-tile-content
                  v-list-tile-title Square Inches
                  v-list-tile-sub-title {{ resultDisplayInches }}
                v-list-tile-action
                  +copyBtn(click='doCopy(resultInchesWithLabel)')
