extends /layouts/_stepper-step-main.pug
block title
  | Enter the length of the belt
block subtitle
  | You can enter {{ units.length.lg.fullPl }}, {{ units.length.sm.fullPl }}, or {{ units.length.lg.fullPl }} and {{ units.length.sm.fullPl }}
block card-body
  v-layout(row)
    v-spacer
    v-flex(xs9)
      v-text-field(
        :color='fieldColor'
        type='number'
        :label='units.length.lg.fullPl | capitalize'
        box
        v-model='calcInput.length.feet'
        clearable)
    v-spacer
  v-layout(row)
    v-spacer
    v-flex(xs9)
      v-text-field(
        :color='fieldColor'
        type='number'
        :label='units.length.sm.fullPl | capitalize'
        box
        v-model='calcInput.length.inches'
        clearable)
    v-spacer
block nav-btns-left
  +stepBtnBack(
    click='moveStep(`b`)')
block nav-btns-right
  +stepBtnNext(
    click='moveStep(`f`)')
