extends /layouts/_stepper-step-main.pug
block title
  | Determine the average OD of the fitting shank
block subtitle
  | Measure the shank's outside diameter in at least 3 places, always at the highest points of the serrations. Input in {{ theAppIsMetric ? `centimeters` : `inches` }}
block card-body
  div(
    v-for='(f, i) in calcInput.shankMeas'
    :key='i')
    v-text-field(
      :color='fieldColor'
      type='number'
      label=''
      box
      v-model='calcInput.shankMeas[i]'
      clearable
      :label='`Shank OD #` + (i + 1)')
      v-btn(
        flat
        icon
        color='error'
        slot='append-outer'
        v-show='(i + 1) > 3'
        style='top: -10px;'
        @click.native='removeMeas(calcInput.shankMeas, i)')
        v-icon
          | delete
          //- TODO: replace with FA icon
  v-layout(
    row
    justify-center)
    v-flex(
      xs8)
      v-btn(
        block
        round
        :color='btnColor'
        @click.native='addMeasurement(calcInput.shankMeas)'
        :disabled='calcInput.shankMeas.length < 6 ? false : true')
        | Add A Measurement
block nav-btns-left
  +stepBtnBack(
    click='moveStep(`b`)')
block nav-btns-right
  +stepBtnNext(
    click='moveStep(`f`)')
