extends /layouts/_stepper-step-main.pug
block title
  | Enter the Length of the material
//- block subtitle
block card-body
  v-layout.mb-4(row wrap justify-center)
    v-flex(xs6)
      v-text-field.v-input__joined--left(
        box
        v-model='calcInput.length.ft'
        type='number'
        :color='fieldColor'
        label='Feet')
    v-flex(xs6)
      v-text-field.v-input__joined--right(
        box
        v-model='calcInput.length.in'
        type='number'
        :color='fieldColor'
        label='Inches')
block nav-btns-left
  +stepBtnBack(
    click='moveStep(`b`)')
block nav-btns-right
  +stepBtnNext(
    click='moveStep(`f`)')
