v-dialog(v-model='addCustomBeltDialog')
  v-card(:dark='isDark')
    v-card-title.headline Add custom belt
    v-card-text
      v-text-field(
        color='accent'
        box
        type='text'
        label='Category'
        hint='PVC, Rubber, etc'
        v-model='newBelt.cat')
      v-text-field(
        color='accent'
        box
        type='text'
        label='Type'
        hint='Plies, covers, tensile strength, etc'
        v-model='newBelt.text')
      v-text-field(
        color='accent'
        box
        type='number'
        label='Weight PIW'
        hint='Weight of a 1" x 1\' piece'
        v-model='newBelt.value')
    v-card-actions
      v-spacer

      v-btn(flat @click='addCustomBeltDialog = false') Nevermind
      v-btn(flat @click='addUserBelt()') Add
