v-dialog(
  width='500'
  v-model='saveShipmentNote.dialog')
  v-card(:dark='theAppIsDark')
    v-card-title(
      class='subheading')
      | Shipment Note
      span(
        class='font-weight-light pl-1')
        | (Optional)
      v-spacer
      v-btn(
        @click='saveShipmentNote.dialog = false'
        flat
        icon)
        v-icon(
          small)
          | fas fa-times
    v-card-text(
      class='pb-0')
      v-text-field(
        box
        :color='fieldColor'
        label='Tap here to add a note to this shipment'
        v-model='saveShipmentNote.text')
    v-divider
    v-card-actions
      v-spacer
      v-btn(
        :color='btnColor'
        @click='saveShipment()'
        flat)
        | {{ saveShipmentNote.text === null ? `Don't add a Note` : `Save` }}
