extends ../../layouts/_stepper-step-main.pug
include ../../mixins/_index.pug
block title
  | Enter quantity
block subtitle
  | Either enter or use the arrows to adjust the quantity of snowplow blades
block card-body
  v-layout(row)
    v-spacer
    v-flex.text-xs-center(xs6)
      v-text-field(
        append-outer-icon='fas fa-plus'
        @click:append-outer='qtyChange(1)'
        prepend-icon='fas fa-minus'
        @click:prepend='qtyChange(-1)'
        type='number'
        label='Quantity'
        box
        v-model='calcInput.quantity'
        color='accent'
        clearable)
    v-spacer
block nav-btns-left
  +stepBtnBack(click='moveStep(`b`)')
block nav-btns-right
  +stepBtnNext(click='moveStep(`f`)')
