extends /layouts/_stepper-step-main.pug
block title
  | Pulley diameters
block subtitle
  | Enter the diameters of the pulleys in {{ units.length.sm.fullPl }}
block card-body
  v-layout(
    row)
    v-text-field(
      :color='fieldColor'
      type='number'
      :label='calcInput.equalPulleys ? `Pulley diameters` : `First pulley diameter`'
      box
      v-model='calcInput.pully.one'
      clearable)
  v-layout(
    row)
    v-text-field(
      :color='fieldColor'
      type='number'
      v-show='!calcInput.equalPulleys'
      label='Second pulley diameter'
      box
      v-model='calcInput.pully.two'
      clearable)
  v-layout(
    row)
    v-checkbox(
      label='Pulleys have equal diameters'
      v-model='calcInput.equalPulleys')
block nav-btns-right
  +stepBtnNext(
    click='moveStep(`f`)')
